
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.checkout-orders form{
    font-size: 1rem;
    width: 60%;
    margin: 20px auto;
    padding: 1.5rem;
    border: 2px solid rgb(179, 177, 177);
    background-color: whitesmoke;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
    border-radius: 10px;
}

.checkout-orders form h3{
    border-radius: 7px;
    background-color: rgb(73, 72, 72);
    color: white;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.checkout-orders form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:.3rem;
    justify-content: space-between;
}

.checkout-orders form .flex .inputBox{
    width: 49%;
}
.checkout-orders form .flex .inputBox .box{
    width: 100%;

}
.checkout-orders form .flex .inputBox span{
    font-size: 1.2rem;
}
form .price{
    margin: 30px;
    text-align: center;
}
@media (max-width:750px){
    .checkout-orders form .flex{
        display: flex;
        flex-wrap: wrap;
        gap:.3rem;
    }
    .checkout-orders form .flex .inputBox{
        width: 100%;
    }
    form .btn{
        margin-top: 30px;
    }
    form .price{
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width:450px){
    .checkout-orders form{
        font-size: 1.4rem;
        width: 100%;
        margin: 20px auto;
        padding: 1.5rem;
        border: 2px solid rgb(179, 177, 177);
        background-color: whitesmoke;
        box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
        border-radius: 10px;
    }
}